body {
 font-family: "Helvetica", Arial, sans Serif;
}



h1 {
  background: white;
  text-align: center;
  font-family: Garamond, serif;
  font-size: 20px;
}


.box {
  width: 700px
}
.left {
  float: left;
  width: 260px;
}

.right {
  float: right;
  width: 440px;
}


.wrapper {
  widht: 800px;
  margin-left: 45px;
  margin-right: auto;
  margin-top: 45px
  }


.rundrum {
  	background-color: lightgray;
  	border-width: 6px;
  	border-style: solid;
  	border-color: gray;
  	border-right-color: black;
  	border-bottom-color: black;
  }

  #toplink {
	background: white;
	bottom: 0;
	margin: 0;
	padding: 0.5em 1em;
	position: fixed;
	right: 0;
}

th {
  font-size: 20px;
  font-family: Garamond;
}

div {
	height: 50px;
	width: 120px;
	background-color: white;
  margin-left: 100px
}

a {
	text-decoration: none;
	font-family: Garamond, serif;
  color: black;
  text-weight: bold;
}

a:hover {
	color: #d3d3d3;
}

#header {

	position: fixed;
	z-index: 1;
	width: 97.5%;
	height: 50px;
	background-color: white;
	margin-bottom: 10px;
	font-family: Garamond;
	text-align: center
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 20%;
	height: 400px;
	background-color: white;
	margin-bottom: 10px;
}



.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 400px;
	background-color: white;
	margin-bottom: 10px;
}

#footer {
	position: relative;
  clear: both;
	height: 50px;
	background-color: white;
	font-family: Garamond;
	font-size: 14px;
	text-align: center;
	color: black;

  }

  #left {
    display: block;
    }
